<ion-header>
  <ion-toolbar>
    <ion-title>next</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
   <audio controls  src="#" class="audioplaychapter" controls controlsList="nodownload"  preload="none">
      Your device does not support the audio element.
    </audio>
	</div>
<a id="nxtbtn" class="floatright nextPrevBtn mobileNext" [routerLink]="['/home',{chapter:'chhome'}]" routerDirection="back">prev</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<a id="nxtbtn" class="floatright nextPrevBtn mobileNext" [routerLink]="['/next1',{chapter:'next1'}]" routerDirection="forward">Next</a >
</ion-content>
